IF(CMAKE_BUILD_TYPE MATCHES Debug)
    # Local de instalação da biblioteca de Debug
    set(CMAKE_INSTALL_PREFIX [ROOT_DIR]/externalsUnisinos/win64-msvc2019/ContinentalLandscapeEvolutionModel/install/debug)
    # Local de instalação da Shapelib de Debug (http://shapelib.maptools.org/ ou a versão pré-compilada, por exemplo, ContinentalDevOps)
    set(SHP_HOME [ROOT_DIR]/externalsUnisinos/win64-msvc2019/ContinentalDevOps/libraries/shapelib/install/debug)
    # Local de instalação do ContinentalDataManagement Debug (https://github.com/UnisinosContinentais/ContinentalDataManagement)
    set(ContinentalDataManagement_DIR "[ROOT_DIR]/externalsUnisinos/win64-msvc2019/ContinentalDataManagement/install/debug/lib/cmake/ContinentalDataManagement")
	# Local de instalação do ContinentalHydroTools Debug (https://github.com/UnisinosContinentais/ContinentalHydroTools)
    set(ContinentalHydroTools_DIR "[ROOT_DIR]/externalsUnisinos/win64-msvc2019/ContinentalHydroTools/install/debug/lib/cmake/ContinentalHydroTools")
else()
    # Local de instalação da biblioteca de Release
    set(CMAKE_INSTALL_PREFIX [ROOT_DIR]/externalsUnisinos/win64-msvc2019/ContinentalLandscapeEvolutionModel/install/release)
    # Local de instalação da Shapelib de Release (http://shapelib.maptools.org/ ou a versão pré-compilada, por exemplo, ContinentalDevOps)
    set(SHP_HOME [ROOT_DIR]/externalsUnisinos/win64-msvc2019/ContinentalDevOps/libraries/shapelib/install/release)
    # Local de instalação do ContinentalDataManagement Release (https://github.com/UnisinosContinentais/ContinentalDataManagement)
    set(ContinentalDataManagement_DIR "[ROOT_DIR]/externalsUnisinos/win64-msvc2019/ContinentalDataManagement/install/release/lib/cmake/ContinentalDataManagement")
	# Local de instalação do ContinentalHydroTools Release (https://github.com/UnisinosContinentais/ContinentalHydroTools)
    set(ContinentalHydroTools_DIR "[ROOT_DIR]/externalsUnisinos/win64-msvc2019/ContinentalHydroTools/install/release/lib/cmake/ContinentalHydroTools")
endif()

# Local de instalação do HDF5 1.8.17 Debug e Release (https://www.hdfgroup.org/)
set(HDF5_HOME "[ROOT_DIR]/externalsUnisinos/win64-msvc2019/hdf5-1.8.17")
set(HDF5_INCLUDE_DIRS "${HDF5_HOME}/include")
set(HDF5_LIBRARIES optimized ${HDF5_HOME}/lib/hdf5_cpp.lib debug ${HDF5_HOME}/lib/hdf5_cppd.lib optimized ${HDF5_HOME}/lib/hdf5.lib debug ${HDF5_HOME}/lib/hdf5d.lib)